.SKillCard{

    
    border: solid;
    border-width: 1px;
    border-color: rgb(188,188,188);
    opacity: 70%;
    width: 150px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.15s;

}
.SKillCard-content {
    text-align: center;
  }
.SKillCard img{
    width: 60px;
    margin-bottom: 10px;
}
.SKillCard h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.SKillCard:hover{
    border-color:  rgb(40,233,140);
}